/* CSS Document */

body
{
  color:#333333;
  font-family:ºÚÌå;
  font-size:14px;
  margin:25px;
}
#div1
{
  border-left:1px solid #dddddd;
  border-right:1px solid #dddddd; 
  height:60px;
}
.btn
{
  border:1px solid #999999;
  background-color:#eeeeee;
  width:70px;
  font-family:ºÚÌå;
  font-size:13px;
  vertical-align:middle;
}
a{ color:#222222;}
a:link, a:visited{ text-decoration:none;}
a:hover{ text-decoration:underline;}

#div2
{ 
 height:30px;
 width:75%;
 background-color:#669933;
 vertical-align:middle;
 }
#ul1{list-style-type:none; margin:0px;}

#ul1 li
{
 float:left;
 background-color:#669933;
 height:30px;
 margin:0px;
}
#ul1 li a
{
  display:block;
  font-size:15px;
  color:#FFFFFF;
  width:100px;
  padding:5px 10px;
  border-right:1px solid #66FF99;
}
#ul1 li a:hover{ background-color:#009900}

.txt 
{
 width:350px; 
 height:25px;
 border:1px solid #888888;
 color:#666666;
 vertical-align:bottom;
 }
 .btn2
{
  border:1px solid #999999;
  background-color:#eeeeee;
  width:50px;
  height:28px;
  font-family:ºÚÌå;
  font-size:14px;
  vertical-align:middle;
}
#div3
{
  width:75%;
  background-color:#fafafa;
}
#div4
{
  width:75%;
  background-color:#fafafa;
}
#content
{
 width:75%;
 border:1px solid #999999;
}